{% extends 'admin/master.html' %}
{% block body %}
    {% if current_user.is_authenticated %}
        <style type="text/css">
            #all {
                width: 500px;
                height: 400px;
                margin-left: 110px;
                margin-top: 110px;
            }

            #all .title {
                font-family: "微软雅黑";
                font-size: 24px;
                padding-left: 20px;
            }

            hr {
                width: 477px;
                height: 5px;
                background-color: #006600;
                float: right;
                margin: 15px 0;
            }

            #all li {
                line-height: 25px;
                margin: 10px 5px;
                font-family: "微软雅黑";
                font-size: 16px;
                list-style-image: url(img/a.ico);
            }
        </style>
        </head>

        <body>
{noticeContent}
    {% endif %}

{% block below %}
{% endblock %}
{% endblock %}